{% extends 'base.html' %}

{% load static %}

{% block title %}Post List{% endblock %}

{% block content %}
    

    {% if is_authenticated %}
        <div>
            <h3>내 프로필</h3>
            <ul>
                <img src="{% if request.user.profile_picture %}{{ request.user.profile_picture.url }}{% else %}{% static 'images/profile_default.png' %}{% endif %}" alt="Profile Picture" style="max-width: 150px; max-height: 150px;">
                <li>{{ request.user.username }}</li>
                <li>{{ request.user.email }}</li>
                <li>{{ request.user.bio }}</li>

                <a href="{% url 'accounts:edit' %}">프로필 수정</a>
                <a href="{% url 'accounts:password_change' %}">보안</a>
            </ul>
        </div>
    {% else %}
        <div>
            <h3>프로필을 보려면 로그인 해주세요</h3>
    {% endif %}

    <h2 class="my-4">Post List</h2>

    <!-- 검색 폼 -->
    <form method="get" action="{% url 'blog:post_list' %}">
        <input type="text" name="query" placeholder="검색어를 입력해주세요.">
        <select name="search_type">
            <option value="title">제목</option>
            <option value="content">내용</option>
            <option value="author">글쓴이</option>
        </select>
        <button type="submit">검색</button>
    </form>

    <!-- 게시글 리스트 -->
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a>

                <img src="{% if post.image %}{{ post.image.url }}
                {% else %}{% static 'images/image_default.png' %}
                {% endif %}" alt="Post Image" style="max-width: 100px; max-height: 100px;">

                <p>글쓴이: {{ post.author.username }}</p>
                <p>{{ post.category.name }}</p>
                <p>{{ post.created_at }}</p>
            </li>
        {% empty %}
            <li>검색 결과가 없습니다.</li>
        {% endfor %}
    </ul>

    <!-- 페이지네이션 링크 -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?q={{ request.GET.q }}&sort={{ request.GET.sort }}&genre={{ request.GET.genre }}&year={{ request.GET.year }}&page=1">&laquo; 처음</a>
                <a href="?q={{ request.GET.q }}&sort={{ request.GET.sort }}&genre={{ request.GET.genre }}&year={{ request.GET.year }}&page={{ page_obj.previous_page_number }}">이전</a>
            {% endif %}

            <span class="current">
                페이지 {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?q={{ request.GET.q }}&sort={{ request.GET.sort }}&genre={{ request.GET.genre }}&year={{ request.GET.year }}&page={{ page_obj.next_page_number }}">다음</a>
                <a href="?q={{ request.GET.q }}&sort={{ request.GET.sort }}&genre={{ request.GET.genre }}&year={{ request.GET.year }}&page={{ page_obj.paginator.num_pages }}">마지막 &raquo;</a>
            {% endif %}
        </span>
    </div>

    <!-- 새 게시글 생성 링크 -->
    <a href="{% url 'blog:post_create' %}">글쓰기</a>
{% endblock %}